<div class="row">
    <div class="col">
        <div>{{game.thumb}}</div>
    </div>
    
    <div class="col">
        <h2>{{game.title}}</h2>
    </div>

    <div class="col">
        <button class="btn">Add to Favorites</button>
    </div>
</div>
    
<div class="row">
     <div class="col">   
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span>{{storeID}}</span>
                        </td>
                        <td>
                            <span>{{salePrice}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>{{storeID}}</span>
                        </td>
                        <td>
                            <span>{{salePrice}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>{{storeID}}</span>
                        </td>
                        <td>
                            <span>{{salePrice}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>